<a href="https://colab.research.google.com/github/Seanwu003/titanic-analysis/blob/main/Task_01%3A%E9%90%B5%E9%81%94%E5%B0%BC%E8%99%9F%E5%AD%98%E6%B4%BB%E9%A0%90%E6%B8%AC%E5%B0%88%E9%A1%8C%E5%AF%A6%E4%BD%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**專題實作#01 鐵達尼號存活預測**

In [ ]:
import pandas as pd
import numpy as np

data = pd.read_csv('https://raw.githubusercontent.com/dsindy/kaggle-titanic/master/data/train.csv')

In [ ]:

#1.資料欄位定義

#survival: 是否生存  0:否 1:是
#pclass: 社會經濟地位 1st:上層 2nd:中產 3rd:底層
#sex:性別
#age:年齡
#sibsp: 在船上兄弟姊妹或配偶的數量
#parch: 在船上父母或小孩的數量
#ticket: 船票號碼
#fare:  票價
#cabin:  艙位編號
#embarked:    登船港口, C = Cherbourg, Q = Queenstown, S = Southampton

In [ ]:
#2. 資料查看
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB